/************TAG SELECTORS*************/
/* CSSLint scss*/
/* Light Mode */
:root[color-mode="light"] {
  --base-theme: #ece2e1;
  --middle-theme: #fbaccc;
  --bottom-theme: #949AA6;
  --card-color: #FFF;
  --text-base: #130f1f;
  --text-high: #FFF;
  --drop-shadow: rgba(0, 0, 0, 0.2);
}

:root[color-mode="dark"] {
  --base-theme: #283149;
  --middle-theme: #130F1F;
  --bottom-theme: #303540;
  --card-color: #303540;
  --text-base: #EDEDED;
  --text-high: #66bfbf;
  --drop-shadow: rgba(0, 0, 0, 0.4);
}

/* Any element with this class will be hidden in light mode */
:root[color-mode="light"] .light--hidden {
  display: none;
}

/* Any element with this class will be hidden in dark mode */
:root[color-mode="dark"] .dark--hidden {
  display: none;
}

/* HTML Tags */
* {
  box-sizing: border-box;
}

a {
  color: #f8f1f1;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

body {
  color: var(--text-base);
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #66bfbf;
  margin: 70px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  height: 110px;
}

.sub-title {
  color: #66bfbf;
  margin-top: 30px;
}

h2 {
  color: var(--text-high);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  margin-top: 0;
}

h3 {
  color: var(--text-base);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 15px;
}

h4 {
  color: var(--text-base);
  font-family: "Montserrat", sans-serf;
  margin: 0;
}

ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 2%;
}

li {
  padding-left: 2%
}

hr {
  border: dotted var(--text-high) 15px;
  border-bottom: none;
  width: 7%;
  margin-bottom: 70px;
}

p {
  line-height: 2;
}

/********** Mode Toggle Button ***********/
.toggle-control {
  float: right;
  right: 17%;
  top: 7%;
  padding-left: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: sticky;
}

.toggle-control input {
  position: sticky;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked~.control {
  background-color: #66bfbf;
}

.toggle-control input:checked~.control:after {
  left: 55px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #056674;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: white;
  transition: left 0.15s ease-in;
}

/************Top Container**********/
.top-container {
  background-color: var(--base-theme);
  position: relative;
  padding: 100px 100px 0;
  width: auto;
}

.top-cloud {
  position: absolute;
  right: 17%;
  top: 45%;
  width: 10%;
}

.moon {
  position: absolute;
  left: 20%;
  top: 5%;
  width: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 30%;
  width: 10%;
}

.mountains {
  vertical-align: bottom;
}

/***********Next section*********/
.middle-container {
  background-color: var(--middle-theme);
  color: var(--text-base);
  padding: 50px 0 100px;
  width: auto;
}

.profile-pic {
  float: left;
  border-radius: 100%;
  width: 30%;
  margin-right: 30px;

  padding-bottom: 30px;
}

.about-me {
  color: var(--text-base);
  text-align: left;
  padding-bottom: 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.intro-text {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

/***********Next section*********/
.skills {
  width: 65%;
  margin: 150px auto 100px auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 var(--drop-shadow);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: var(--card-color);
}

/* Next Section */
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  padding-bottom: 50px;
  text-align: left;
}

.left-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.right-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*************Next Section**************/
.contact-me {
  background-color: var(--base-theme);
  padding: 10px 0 100px;
  width: auto;
}

.contact-message {
  margin: 40px auto;
}

.copyright {
  color: #f8f1f1;
  font-size: .75rem;
  padding: 20px 0;
}

.bottom-container {
  background-color: var(--bottom-theme);
  padding: 50px 0 20px;
  width: auto;
}

.lighta {
  color: #fbaccc;
  font-weight: bold;
}

.last-hr {
  margin-bottom: 0;
}

/*************Hobbies Page**************/
.image-container {
  position: relative;
  color: var(--text-base);
  padding: 150px 0 100px;
  width: auto;
}

.hobbie-buffer {
  padding: 100px 0 0;
}
.image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 3 equal columns that sits next to each other */
.image-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.image-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media only screen and (max-width: 575px){
  .view-port {
    width: 100%;
  }
}
@media only screen and (min-width: 800px){
  .view-port {
    width: auto;
  }
}
